# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
PUM1/Listy/.ipynb_checkpoints/Lista5-checkpoint.ipynb
/PUM1/Listy/.ipynb_checkpoints
PUM2/Listy/.ipynb_checkpoints/Lista1-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista1-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista1-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista2-checkpoint.ipynb
context.md
plan.md
latex-test/
latex-test/*.pdf
latex-test/*.aux
latex-test/*.log
latex-test/*.synctex.gz
manuscript/*.aux
manuscript/*.fdb_latexmk
manuscript/*.fls
manuscript/*.log
manuscript/*.out
manuscript/*.synctex.gz
manuscript/*.toc
manuscript/*.bbl
manuscript/*.bcf
manuscript/*.run.xml
manuscript/*.blg
manuscript/*.pdf
manuscript/*.minted
PUM2/Listy/.ipynb_checkpoints/Lista3-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista4-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista5-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista1-checkpoint.ipynb
PUM2/Listy/.ipynb_checkpoints/Lista2-checkpoint.ipynb
PUM2/Wyk/~$Wyklad2.pptx
PUM2/Wyk/~$Wyklad6.pptx
PUM2/Wyk/~$Wyklad3.pptx
manuscript/main.synctex(busy)
manuscript/main.bbl-SAVE-ERROR
